* {
    margin: 0;
    padding: 0;
}
html {
    font-family: "Onest", sans-serif;
}

body {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    gap: 10px;

    height: 100vh;

    background-color: #fff9e3;
}

a { 
    padding: 10px 20px;
    margin: 10px;

    text-decoration: none;

    border-radius: 16px;
    
    color: white;
    background-color: #f84f39;
}

li {
    font-weight: 600;
}